* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.top {
    width: 100%;
    max-width: 600px;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top h1 {
    font-size: 44px;
    color: #FFFFFF;
    margin-left: 15px;
    font-family: 'Righteous', cursive;
}
.top p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-left: 15px;
}
.content {
    width: 100%;
    max-width: 600px;
}
.market {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 90px;
    background-color: #EEEEEE;
    padding: 15px;
}
.titulo-categoria {
    font-size: 26px;
    color: #333333;
    margin-top: 30px;
    font-family: 'Righteous', cursive;
    margin-bottom: 10px;
}
img {
    width: 144px;
    height: 87px;
}
.opcoes {
    width: 172px;
    height: 216px;
    padding: 15px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    background-color: white;
    margin-right: 15px;
}
.titulo-neg {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
}
.desc-opc {
    font-weight: 300;
    color: #A6A6A6;
    font-size: 15px;
}
.preco {
    font-weight: 400;
    color: #000000;
    font-size: 16px;
}
.opcoes p {
    margin-top: 10px;
}
.categoria {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    
}
.bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 92px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    max-width: 600px;

}
button {
    width: 90%;
    height: 62px;
    background: #CBCBCB;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
.selecionado {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}